# IDE files from JetBrains (Android Studio, IntelliJ)
.idea/
*.iml

# Build output
/build/
/out/
/target/

# Gradle files
.gradle/
gradle-wrapper.jar

# VSCode files
.vscode/

# Other
*.class
*.log
*.jar

# Security and Local settings
local.properties
.DS_Store

# Android specific
/captures
.externalNativeBuild
.cxx